/* Imported Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background-color: rgb(0,0,0);
    background: url("images/background.jpg");
    background-size: cover;
  }

  h1, h2, h3 {
    text-align: center;
  }

  h1, h2, h3 {
    font-family: Roboto;
    font-size: 2.5em;
  }

  h4 {
    font-family: Roboto;
    font-size: 2.5em;
  }

  h6 {
    font-size: 1.5em !important;
    margin-top: 10px !important;
  }

  a {
    font-family: Roboto;
    font-size: 2em;
    color: white !important;
    outline: 0;
  }

  #github-link {
    color: rgb(38, 12, 184) !important;
    font-size: 1em !important;
    font-family: Roboto !important;
  }

  a.go-to:hover {
    text-decoration: underline !important;
  }

  a:hover {
    text-decoration: none !important;
  }

  figcaption {
    font-family: Roboto;
    font-size: 1em;
  }

  .btn-primary {
    box-shadow: none !important;
    border: none !important;
  }
  
  .navbar {
    background-color: black;
  }

  .navbar-nav {
    display: inline !important;
  }

  .active {
    font-family: Roboto;
    font-size: .75em;
    margin: 25px;
    display: inline;
  }

  .well {
    margin-top: 10px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: rgb(235, 236, 236);
  }

  .basic-info {
    color: rgb(25, 25, 25);
    margin: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1.25em;
    font-family: Roboto;
  }

  .project-thumbnail {
    width: 300px;
    height: 175px;
    margin: 15px;
  }

  .card {
    margin-top: 10px;
    margin: 0 auto !important;
    float: none;
    margin-bottom: 10px;
  }

  .card-block {
    height: 200px;
    text-align: center;
    background-color: rgb(250, 250, 250);
  }

  .card-text {
    padding: 10px !important;
  }

  #summary {
    text-align: center;
    font-family: Roboto;
    font-size: 1.2em;
    font-style: italic;
  }

  #logo {
    width: 300px;
    height: 240;
    display: block;
  }

  #me {
    image-orientation: from-image;
    border: 3px solid black;
    margin: 15px;
  }

  #contacts {
    font-size: 1em;
    text-align: center;
    margin-top: 15px;
  }

  #contact1 {
    color: black;
    margin-right: 50px;
    padding: 7px;
    text-align: right;
    border: 2px solid black;
    border-radius: 100%;
  }

  #contact2 {
    color: black;
    text-align: center;
    padding: 7px;
    border: 2px solid black;
    border-radius: 100%;
  }

  #contact3 {
    color: black;
    margin-left: 50px;
    padding: 7px;
    text-align: left;
    border: 2px solid black;
    border-radius: 100%;
  }

  #contact-well {
    background-color: #bbbbbb;
    margin-top: 0px !important;
    margin-bottom: 10px;
  }
  