/* Imported Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background-color: rgb(0,0,0);
    background: url("images/background.jpg");
    background-size: cover;
  }

  h1 {
    text-align: center;
  }
  h1, h2, h3, h4 {
    font-family: Roboto;
    font-size: 2em;
    margin-left: 25px;
    padding-left: 10px;
    padding-top: 25px;
  }

  .navbar {
    background-color: black;
  }

  .well {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    background-color: rgb(240, 236, 236);
  }

  .basic-info {
    color: rgb(25, 25, 25);
    margin: 25px;
    padding: 10px;
    font-size: 1.25em;
    font-family: Roboto;
  }

  #logo {
    width: 300px;
    height: 240;
    display: block;
  }

  #me {
    image-orientation: from-image;
    border: 3px solid black;
    margin: 25px;
  }

  #contacts {
    font-size: 2em;
    text-align: center;
  }

  #contact1 {
    margin-right: 50px;
    padding: 7px;
    text-align: right;
    border: 3px solid black;
    border-radius: 100%;
  }

  #contact2 {
    text-align: center;
    padding: 7px;
    border: 3px solid black;
    border-radius: 100%;
  }

  #contact3 {
    margin-left: 50px;
    padding: 7px;
    text-align: left;
    border: 3px solid black;
    border-radius: 100%;
  }
  